body {
  padding-top:80px;
}

.pointable {
  cursor: pointer;
}

.small-well {
  min-height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.btn-spaced {
 margin-right:15px; 
}