<div ng-show="!!$ctrl.session"> 
  <div  class="panel panel-default">
    <div class="panel-heading">
      {{$ctrl.session.title}}
    </div>
    <div class="panel-body">
      <p><strong>Duration: {{$ctrl.session.length}} minutes</strong></p>
      <p>{{$ctrl.session.abstract}}</p>
    </div>
  </div>

  <p>Are you interested in this session?</p>
  <button class="btn btn-primary" ng-click="$ctrl.yes()">Yes</button>
  <button class="btn btn-warning" ng-click="$ctrl.no()">No</button>
</div>
<div ng-show="!$ctrl.session" class="alert alert-success" role="alert"> 
  You have reviewed all the submitted sessions
</div>