<nav></nav>

<h1>User Profile</h1>

<form class="form-inline">
  <label for="firstName">First Name</label>
  <input type="text" id="firstName" placeholder="First Name"
    class="form-control" ng-model="vm.profile.firstName">
    
  <label for="lastName">Last Name</label>
  <input type="text" id="lastName" placeholder="Last Name"
    class="form-control" ng-model="vm.profile.lastName">
  
  <br><br>
  <button class="btn btn-primary btn-sm" ng-click="vm.save()">Save</button>
  <button class="btn btn-warning btn-sm" ng-click="vm.cancel()">Cancel</button>
</form>