<h1>Admin Login</h1>

<form class="form">
  <div class="row">
  <div class="form-group col-sm-6">
    <input type="text" autofocus placeholder="Email Address" ng-model="$ctrl.email" class="form-control">
  </div>
  </div>
  <div class="row">
  <div class="form-group col-sm-6">
    <input type="password" placeholder="Password" ng-model="$ctrl.password" class="form-control">
  </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    <button class="btn btn-primary" ng-click="$ctrl.login()">Login</button>
    </div>
  </div>
</form>